body {
  background-image: url(/assets/images/SPOILER_sven-fischer-V7WkmXntA8M-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

.header {
  padding: 1rem 0;
  margin-top: 0.7rem;

  .navbar {
    width: 85%;

    #logo {
      color: $azureGreen;
      font-size: 2.6rem;
      font-weight: 400;
    }

    #login {
      background-color: $white;
      border-radius: 20px;
      padding: 1.5rem 1.6rem;
      font-size: 1.6rem;
      font-weight: 500;
      color: $azureGreen;
    }

    .fa-house-user {
      color: $grayishRed;
      font-size: 2.7rem;
      margin-left: 0.7rem;
    }
  }
}
