body {
  background-image: url(/assets/images/SPOILER_sven-fischer-V7WkmXntA8M-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  height: 100vh;
}

.header {
  padding: 1rem 0;
  margin-top: 0.7rem;

  .navbar {
    width: 85%;

    #logo {
      color: $azureGreen;
      font-size: 2.6rem;
      font-weight: 400;
    }

    #login {
      background-color: $white;
      border-radius: 20px;
      padding: 1.5rem 1.6rem;
      font-size: 1.6rem;
      font-weight: 500;
      color: $azureGreen;
    }

    .fa-house-user {
      color: $grayishRed;
      font-size: 2.7rem;
      margin-left: 0.7rem;
    }
  }
}

.main {
  height: calc(100% - 77px);

  .container {
    border: solid 3px white;
    background-color: $white;
    padding: 2rem;
    border-radius: 20px;
  }

  .inputs {
    margin-bottom: 4rem;
    .seperator {
      width: 80%;
      display: block;
      margin: 1.3rem 0;
      height: 0.2rem;
      background-color: $darkGray;
    }

    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    label {
      font-size: 1.8rem;
      font-weight: 500;
    }

    input {
      text-align: center;
      cursor: pointer;
    }

    .txt-input {
      input {
        padding: 1rem 0;
        border: none;
      }
    }

    input[type="date"] {
      position: relative;
      padding: 0.8rem 2.5rem;
      border: none;
      color: transparent;

      &::-webkit-calendar-picker-indicator {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: auto;
        height: auto;
        color: transparent;
        background: transparent;
        cursor: pointer;
      }

      &::before {
        content: "add a date";
        width: 100%;
        color: $gray;
        font-family: "Roboto";
        font-size: 1.5rem;
      }
    }
  }

  .button {
    .search-btn {
      color: $white;
      background-color: $azureGreen;
      border: none;
      font-size: 2.3rem;
      padding: 1rem 5rem;
      border-radius: 17px;
    }
  }
}
