body {
  background-image: url(/assets/images/SPOILER_sven-fischer-V7WkmXntA8M-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.header {
  position: fixed;
  width: 100%;
  padding: 1rem 0;
  margin-top: 0.7rem;

  .navbar {
    width: 85%;

    #logo {
      color: $azureGreen;
      font-size: 2.6rem;
      font-weight: 400;
    }

    #login {
      background-color: $white;
      border-radius: 20px;
      padding: 1.5rem 1.6rem;
      font-size: 1.6rem;
      font-weight: 500;
      color: $azureGreen;
      transition: all 200ms ease-in-out;

      &:hover {
        background-color: $azureGreen;
        color: $white;
        .fa-house-user {
          color: $white;
        }
      }
    }

    .fa-house-user {
      color: $grayishRed;
      font-size: 2.7rem;
      margin-left: 0.7rem;
      transition: all 200ms ease-in-out;
    }
  }
}

.main {
  @media (min-width: 800px) {
    .container,
    .inputs-list {
      flex-direction: row;
    }
  }

  height: 100vh;

  .container {
    @media (min-width: 800px) {
      width: 90%;
      min-width: 74rem;
      max-width: 88rem;
    }

    border: solid 3px white;
    background-color: $white;
    padding: 2rem;
    border-radius: 20px;
    width: 60%;
  }

  .inputs {
    @media (min-width: 800px) {
      margin-bottom: 0;
    }

    width: 100%;
    margin-bottom: 4rem;
    .seperator {
      @media (min-width: 800px) {
        margin: 0;
        height: 5.7rem;
        width: 0.2rem;
      }

      width: 80%;
      display: block;
      margin: 1.3rem 0;
      height: 0.2rem;
      background-color: $darkGray;
    }

    .input-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 1rem;
    }

    label {
      font-size: 1.8rem;
      font-weight: 500;
    }

    input {
      text-align: center;
      cursor: pointer;
      width: 100%;
    }

    input[type="date"] {
      position: relative;
      width: 100%;
      &::-webkit-calendar-picker-indicator {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: auto;
        height: auto;
        color: transparent;
        background: transparent;
        cursor: pointer;
      }
    }

    .txt-input {
      input {
        padding: 1rem 0;
        border: none;
      }
    }

    .date-input {
      @media (min-width: 800px) {
        width: 90%;
      }

      padding: 1rem 2rem;
      border: none;
      width: 100%;
    }
  }

  .button {
    .search-btn {
      display: block;
      color: $white;
      background-color: $azureGreen;
      border: solid 2px transparent;
      font-size: 2.3rem;
      padding: 1rem 5rem;
      border-radius: 17px;
      transition: all 200ms ease-in-out;

      &:hover {
        color: $azureGreen;
        background-color: $white;
        border: solid 2px $azureGreen;
      }
    }
  }
}
